<?xml version="1.0"?>
<config>
    <modules>
        <Solwin_GoogleLangTranslator>
            <version>1.0.0</version>
        </Solwin_GoogleLangTranslator>
    </modules>
    <frontend>
        <routers>
            <googlelangtranslator>
                <use>standard</use>
                <args>
                    <module>Solwin_GoogleLangTranslator</module>
                    <frontName>googlelangtranslator</frontName>
                </args>
            </googlelangtranslator>
        </routers>
        <layout>
            <updates>
                <googlelangtranslator>
                    <file>googlelangtranslator.xml</file>
                </googlelangtranslator>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <googlelangtranslator>
                <class>Solwin_GoogleLangTranslator_Helper</class>
            </googlelangtranslator>
        </helpers>
        <models>
            <googlelangtranslator>
                <class>Solwin_GoogleLangTranslator_Model</class>
            </googlelangtranslator>
        </models>
        <blocks>
            <googlelangtranslator>
                <class>Solwin_GoogleLangTranslator_Block</class>
            </googlelangtranslator>
        </blocks>
    </global>
</config> 